aws_region            = "eu-central-1"
github_org            = "<GITHUB_ORG>"
github_oidc_role_name = "gha-bootstrap-org"
# Optional. If empty, defaults to tfstate-<ACCOUNT_ID>-<REGION>.
tf_state_bucket_name  = "<TF_STATE_BUCKET_NAME>"
# Optional. If empty, defaults to terraform-locks.
tf_lock_table_name    = "<TF_LOCK_TABLE_NAME>"

tags = {
  Environment = "bootstrap-prerequisite"
}
